<!-- <ion-header>
  <ion-toolbar style="--background: #263A7F; --color: white">
    <ion-title style="text-align: center">
      Unip - Eventos
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding style="--background: #263A7F; --color: white">
  <div *ngIf="user != null">
    <h3>Bem vindo, <b>{{ user.email }}</b></h3>
    <div>
      <p>Para marcar presença numa palestra, clique no botão com ícone de câmera abaixo e dê permissão para que o
        aplicativo acesse a câmera do telefone. Então escaneie o QR Code fornecido pela organização.</p>
      <p>Lembre-se de que para sua presença ser validada com sucesso será preciso validar sua entrada e sua saída do
        evento.</p>
    </div>
    <ion-button color="light" (click)="Sair()">Sair</ion-button>
    <ion-button color="light" (click)="Sair()">
      <ion-icon name="camera"></ion-icon>
      Scanear
    </ion-button>
  </div>
  <div *ngIf="user == null">
    <br>
    <br>
    <img src="../../assets/images/unip-logo.png" alt="" style="width: 70%; margin: 10% 15%;">
    <br>
    <br>

    <p>
      <ion-item color="transparent" >
        <ion-label floating>
          <ion-icon style="--color: white" name='person'></ion-icon>
        </ion-label>
        <ion-input style="--color: white" type="text" placeholder="E-mail" #usuario></ion-input>
      </ion-item>
    </p>

    <p>
      <ion-item color="transparent">
        <ion-label floating>
          <ion-icon style="--color: white" name='lock'></ion-icon>
        </ion-label>
        <ion-input style="--color: white" type="password" placeholder="Senha" #senha></ion-input>
      </ion-item>
    </p>

    <br>
    <ion-button color="warning" expand="block" (click)="LoginComEmail()">Entrar</ion-button>
    <ion-button color="warning" expand="block" [routerLink]="'/register/'" style="margin-top: 1rem">Cadastrar
    </ion-button>
  </div>
</ion-content>